/* .ff{
    height: 50%;
    width: 80%;
    background-color:darkseagreen;
    color:darkviolet;
    margin: 6% 9%;
    padding-bottom: 2%;
    border-color:white;
    border-style: solid;

}
.but{
   height: 50px;
   width: 50px;
    margin-left: 90%;
    color:black;
    background-color: darkviolet;
    border-radius: 30%;
    border-style: solid;
    border-color: white;


}

body{
    background-color: black;
}
.kee{
    height: 40px;
    width: 5%;
    background-color: white;
    margin-left: 90%;
    color: darkmagenta;
    border-color: blue;
} */